/* .tooltip {
    pointer-events: none;
} */

#main-viz-cont {
    width: 800px;
    height: 400px;
    margin-bottom: 100px;
}

 /* Add your CSS styles here */
canvas {
    /* border: 1px solid black; */
    background-color: #000C33;
    padding: 0;
    margin: auto;
    display: block;
    /* width: 1500px; */
}

body {
    background-color: #000C33 !important;
}

#play{
    margin: 20px;
}

#play {
    background-color: #19355e;
    border: none;
}

#main-viz-cont{
    margin: 50px !important;
}
