/* .tooltip {
    pointer-events: none;
} */

#main-viz-cont {
    width: 800px;
    height: 400px;
    margin-bottom: 100px;
}

 /* Add your CSS styles here */
canvas {
    border: 1px solid black;
    background-color: #151740;
    padding: 0;
    margin: auto;
    display: block;
    /* width: 1500px; */
}

body {
    background-color: #151740;
}

#play{
    margin: 20px;
}
